/* Hlavní CSS soubor */

body
{
  background-image: url("images/background.png");
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  color: #FFFFFF;
  font-family: Times, Tahoma, Arial;
  font-size: 16px;
}

#page
{
  height: 100vh;
  overflow: hidden;
  //background-color: yellow;
}

#main
{
  width: 30%;
  min-width: 400px;
  height: auto;
  margin: auto;
  min-height: 200px;
  //background-color: red;
}

#menu
{
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  text-align: center;
  //background-color: blue;
  background-color: rgba(0,0,0,0.2);
}

#menu a
{
  display: inline-block;
  background-color: rgba(0,0,0,0.1);
  color: white;
  text-decoration: none;
  line-height: 30px;
  height: 30px;
  min-width: 90px;
  margin-top: 10px;
  
}

#menu a:hover
{
    background-color: rgba(0,0,0,0.3); 
}

#errordiv
{
  min-height: 50px;
  font-family: Tahoma;
  margin-bottom: 10px;
  line-height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: auto;
  color: red;
  text-align: center;
  word-wrap: break-word;
}

#content
{
  width: 100%;
  height: 100px;
  height: auto;
  background-color: rgba(0,0,0,0.2);
  min-height: 200px;
  //background-color: black;
}

.error
{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  color: red;
}

/* ################# DAVVVE ############### */

#content .inputedit 
{
	color: white;
	background-color: transparent;
	border: 2px solid rgba(0,0,0,0.2);
	margin-top: 3px;
	float: right;
	height: 24px;
	width: 200px;
}


#content #registerbutton
{
	width: 340px;
	border: none;
	height: 30px;
	background-color: rgba(0,0,0,0.2);
	color: white;
  margin-top: 3px;
}


#content #registerbutton:hover
{
  margin-top: 3px;
	transition: all 200ms;
	background-color: rgba(0,0,0,0.3);
}


#content .inputdiv
{
  float: right;
  width: 210px;
}


#content .registertextdiv
{
  float: left;
  line-height: 2.1;
}


#content .registerdiv
{
  width: 340px;
  height: 135px;
}


#content #loginbutton
{
	width: 340px;
	border: none;
	height: 30px;
	background-color: rgba(0,0,0,0.2);
	color: white;
  margin-top: 3px;
}


#content #loginbutton:hover
{
  margin-top: 3px;
	transition: all 200ms;
	background-color: rgba(0,0,0,0.3);
}


#content .inputdiv
{
  float: right;
  width: 210px;
}


#content .logintextdiv
{
  float: left;
  line-height: 2.1;
}


#content .logindiv
{
  width: 340px;
  height: 70px;
}


#content .contactstable
{
  border: 0px solid rgba(0,0,0,0.3);
  width: 100%;
  height: auto;
  text-align: center;
}


#content .contactstr
{
  height: 30px;
}

#content .contactstd
{
  background-color: rgba(0, 0, 0, 0.1);
}


#content .screenshotsdiv
{
  text-align: center;
  width: 400px;
  height: 100px;
}


#content .screenshotsimg
{
  cursor: pointer;
  width: 100px;
  height: 100px;
  float: left;
}
