/* Hlavní CSS soubor */

body
{
  background-image: url("images/background.png");
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  color: #FFFFFF;
  font-family: Times, Tahoma, Arial;
  font-size: 16px;
}

#page
{
  height: 100vh;
  overflow: auto;
}

#main
{
  width: 1000px;
  height: auto;
  margin-top: 10px !important;
  margin: auto;
  min-height: 660px;
}

#menu
{
  width: 1000px;
  height: 50px;
  text-align: center;
  background-color: rgba(0,0,0,0.3);
}

#menu a
{
  display: inline-block;
  background-color: rgba(0,0,0,0.2);
  color: white;
  text-decoration: none;
  line-height: 30px;
  height: 30px;
  min-width: 90px;
  margin-top: 10px;
  
}

#menu a:hover
{
  background-color: rgba(0,0,0,0.3); 
}

#content
{
  float: left;
  width: 600px;
  min-height: 600px;
  height: auto;
  background-color: rgba(0,0,0,0.1);
}

#bodydiv
{
  width: 1000px;
  min-height: 600px;
  height: auto;
  overflow: auto;
}

#footer
{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  width: 1000px;
  height: 30px;
  float: left;
  line-height: 30px;
}

.informationdiv
{
  background-color: rgba(0, 0, 0, 0.1);
  min-height: 600px;
  width: 200px;
  height: 100%;
  float: left;
  word-wrap: break-word;
}

.error
{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  color: red;
}

/* ################# DAVVVE ############### */

#content .inputedit 
{
	color: white;
	background-color: transparent;
	border: 2px solid rgba(0,0,0,0.2);
	margin-top: 3px;
	float: right;
	height: 24px;
	width: 200px;
}

#content #registerbutton
{
	width: 340px;
	border: none;
	height: 30px;
	background-color: rgba(0,0,0,0.2);
	color: white;
  margin-top: 3px;
}

#content #registerbutton:hover
{
  margin-top: 3px;
	transition: all 200ms;
	background-color: rgba(0,0,0,0.3);
}

#content .inputdiv
{
  float: right;
  width: 210px;
}

#content .registertextdiv
{
  float: left;
  line-height: 2.1;
}

#content .registerdiv
{
  width: 340px;
  height: 135px;
}

#content #loginbutton
{
	width: 340px;
	border: none;
	height: 30px;
	background-color: rgba(0,0,0,0.2);
	color: white;
  margin-top: 3px;
}

#content #loginbutton:hover
{
  margin-top: 3px;
	transition: all 200ms;
	background-color: rgba(0,0,0,0.3);
}

#content .inputdiv
{
  float: right;
  width: 210px;
}

#content .logintextdiv
{
  float: left;
  line-height: 2.1;
}

#content .logindiv
{
  width: 340px;
  height: 70px;
}

#content .contactstable
{
  border: 0px solid rgba(0,0,0,0.3);
  width: 100%;
  height: auto;
  text-align: center;
}

#content .contactstr
{
  height: 30px;
}

#content .contactstd
{
  background-color: rgba(0, 0, 0, 0.1);
}

#content .screenshotsdiv
{
  text-align: center;
  width: 400px;
  height: 100px;
}

#content .screenshotsimg
{
  cursor: pointer;
  width: 100px;
  height: 100px;
  float: left;
}

#content .expeditiondescription
{
  overflow: hidden;
  margin-top: 5px;
  width: 184px;
  height: 55px;
  background-color: rgba(0, 0, 0, 0.1);
  float: left;
  word-wrap: break-word;
  padding: 4px;             
}

#content .expeditionimg
{
  width: 100%;
  height: 186px;
  background-color: rgba(0, 0, 0, 0.1);
  float: left;              
}

#content .expeditiontypetopdiv
{
  width: 192px;
  height: 294px;             
}

#content .expeditiontypediv
{
  margin-top: 5px;
  width: 192px;
  height: 294px;             
}

#content .expeditioncolumndiv
{
  width: 192px;
  height: 592px;
  margin: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  float: left;             
}

#content .expeditionselect
{
  font-family: Times;
  font-size: 16px;
  cursor: pointer;
  border: none;
  display: inline-block;  
  background-color: rgba(0,0,0,0.2);
  color: white;
  text-decoration: none;
  line-height: 30px;
  height: 30px;  
  width: 100%;  
  margin-top: 5px;
  text-align: center;
}

#content .expeditionselect:hover
{
  cursor: pointer;
  border: none;
  display: inline-block;  
  background-color: rgba(0,0,0,0.3);
  color: white;
  text-decoration: none;
  line-height: 30px;
  height: 30px;  
  width: 100%;  
  margin-top: 5px;
  text-align: center;
}

#content .homeplayersummarydiv
{
  margin: 5px;
  float: left;
  width: 250px;
  height: 490px;
  background-color: rgba(0, 0, 0, 0.1);
}

#content .NPCsummarydiv
{
  margin: 5px;
  float: right;
  width: 250px;
  height: 490px;
  background-color: rgba(0, 0, 0, 0.1);
}

#content .homeplayeravatar
{
  margin: 5px;
  float: left;
  width: 240px;
  height: 225px;
  background-color: rgba(0, 0, 0, 0.1);
}

#content .homeplayername
{
  width: 240px;
  height: 20px;
  float: left;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0px 5px 5px;
  line-height: 20px;
}

#content .homebardiv
{
  margin: 0px 5px 5px 5px;
  float: left;
  width: 240px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.1);
}

#content .homebarimg
{
  margin: 10px 20px 0px 20px;
  float: left;
  width: 200px;
  -webkit-user-select: none;
  height: 15px;
}

#content .homespelldiv
{
  margin: 0px 5px 5px 5px;
  float: left;
  width: 240px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.1);
}

#content .homestatsdiv
{
  text-align: start;
  font-size: 17px;
  margin: 0px 5px 5px 5px;
  float: left;
  width: 240px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.1);
}

#content .attackdefenddiv
{
  margin: 0px 5px 5px 5px;
  float: left;
  width: 240px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.0);
}

#content .attack
{
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 115px;
  height: 30px;
  float: left;
  line-height: 30px;
}

#content .defend
{
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 30px;
  float: right;
  width: 115px;
  height: 30px;
}

#content .trainingbuttondiv
{
  background-color: rgba(0, 0, 0, 0.1);
  float: left;
  height: 50px;
  width: 50px;
}

#content .trainingbutton
{
  margin: 10px;
  float: left;
  background: url(http://home.spsostrov.cz/~krizda/Game/game/css/images/up.png);
  height: 30px;
  width: 30px;
  cursor: pointer;
  border: none;
}

#content .trainingbutton:hover
{
  margin: 10px;
  float: left;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: url(http://home.spsostrov.cz/~krizda/Game/game/css/images/up_hover.png);
  border: none;
}

/* ################# DAVVVE - ZATÍM ############### ################# DAVVVE - ZATÍM ############### ################# DAVVVE - ZATÍM ############### */

#content .test2
{
  float: left;
  background: url(http://home.spsostrov.cz/~krizda/Game/game/css/images/down.png);
  height: 30px;
  width: 30px;
  cursor: pointer;
}

#content .test2:hover
{
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: url(http://home.spsostrov.cz/~krizda/Game/game/css/images/down_hover.png);
}

/* ################# DAVVVE - ZATÍM ############### ################# DAVVVE - ZATÍM ############### ################# DAVVVE - ZATÍM ############### */

#content .trainingheaddiv
{
  width: 100%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.1);
}

#content .trainingdiv
{
  width: 100%;
  height: 50px;
  margin-top: 5px;
}

#content .trainingtypediv
{
  width: 550px;
  height: 50px;
  float: left;
  background-color: rgba(0, 0, 0, 0.1);
  line-height: 50px;
  text-align: center;
}

#content .trainingstatupdiv
{
  width: 150px;
  height: 50px;
  float: left;
  line-height: 50px;
}

#content .trainingtypetitlediv
{
  text-align: start;
  height: 20px;
  float: left;    
  width: 340px;
  margin: 0px 0px 0px 10px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
}

#content .trainingtypedescriptiondiv
{
  line-height: 2;
  margin: 0px 0px 0px 10px;    
  width: 340px;    
  height: 30px;
  float: left;
  text-align: start;
}

#content .currencydiv
{
  line-height: 45px;
  height: 40px;    
  width: 200px;    
  float: right;    
  color: gold;
  text-align: start;    
  margin: 5px 0px 5px 0px;
}

#content .currencyimagediv
{
  margin: 1px 10px 0px 0px;    
  width: 50px;
  float: left;    
  height: 40px;
}

#content .currencyimage
{
  width: 50px;    
  height: 40px;
}

#content .goldcurrencyvaluespan
{
  line-height: 45px;
  color: gold;
}

#content .trainingtypedescdiv
{
  float: left;
  width: 350px;
  height: 50px;
}



.informationdiv .currencydiv
{
  line-height: 45px;
  height: 40px;    
  width: 190px;    
  float: right;    
  color: gold;
  text-align: start;    
  margin: 5px;
}

.informationdiv .currencyimagediv
{
  margin: 1px 10px 0px 0px;    
  width: 50px;
  float: left;    
  height: 40px;
}

.informationdiv .currencyimage
{
  width: 50px;    
  height: 40px;
}

.informationdiv .goldcurrencyvaluespan
{
  line-height: 45px;
  color: gold;
}

.informationdiv .diamondcurrencyvaluespan
{
  line-height: 45px;
  color: #FF3B3B;
}

#content .figthresultdiv
{
  color: red;
  font-size: 30px;
  line-height: 50px;
  height: 50px;
  width: 600px;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Times, Tahoma, Arial;
}

#content .resultcharacterwin
{
  color: lime;
  font-size: 80px;
  line-height: 500px;
  width: 80px;
  float: left;
  height: 550px;
  text-align: center;
}